/* Стили шрифта Rubik */
@font-face {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
        url('../fonts/rubik/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Medium.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
        url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/rubik/Rubik-Regular.woff') format('woff2');
  font-display: swap;
}
/* ---------------------------------------------------- */
/* Стили шрифта Poppins */
@font-face {
  font-family: 'poppins-medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('poppins-Medium'),
        url('../fonts/poppins/poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/poppins-Medium.woff') format('woff2');
  font-display: swap;
}
/* ---------------------------------------------------- */
/* Стили шрифта DMSans */
@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: local('DMSans-Regular'),
        url('../fonts/DMSans/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DMSans/DMSans-Regular.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: local('DMSans-Medium'),
        url('../fonts/DMSans/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DMSans/DMSans-Medium.woff') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: local('DMSans-Bold'),
        url('../fonts/DMSans/DMSans-Bold.woff2') format('woff2'),
        url('../fonts/DMSans/DMSans-Bold.woff') format('woff2');
  font-display: swap;
}
/* ---------------------------------------------------- */