body {
  font-family: 'dmsans-regular', sans-serif;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
  color: $menu-color;
  background-color: $white;
}

.container-large {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
