/* Переменные для основных цветов */
$menu-color: #436372;
$count-color: #243f4d;
$white: #ffffff;
$DMSans-bold: #414141;
$DMSans-reg: #585858;

/* Переменные для шрифтов */
$poppins-medium: 'poppins-medium', sans-serif;
$rubik-medium: 'rubik-medium', sans-serif;
$dmsans-regular: 'dmsans-regular', sans-serif;