/* Переменные для основных цветов */
$menu-color: #436372;
$count-color: #243f4d;
$white: #ffffff;
$DMSans-bold: #414141;
$DMSans-reg: #585858;

/* Переменные для шрифтов */
%rubikmedium-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsansbold-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%dmsansbold-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}