@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'components/animations.scss';
@import 'components/header-menu';
@import 'components/header';
@import 'components/footer';


/*----------------------------------------------------*/
/* Стили слайдера */

.slider-main {
  background-color: #fcd7b6;
  min-height: 820px;
  position: relative;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
    min-height: 820px;
    
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-48%);
      right: -130px;
      width: 640px;
      height: 640px;
      background-image: url("../images/sphere.png");
      background-position: center;
      background-repeat: no-repeat;
      z-index: -2;
    }
  }

  &__content {
    max-width: 530px;
    width: 100%;
    margin-top: -60px;
  }

  &__title {
    max-width: 440px;
    color: $dark-blue;
    font-size: 72px;
    line-height: 1;
    margin-bottom: 26px;
    text-transform: uppercase;
    @extend %rubikmedium-500;
  }

  &__text {
    max-width: 380px;
    width: 100%;
    color: $light-blue;
    @extend %rubikregular-400;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 40px;
  }

  &__link {
    padding: 20px 30px 30px;
    background-color: #a3bbc8;
    outline: none;
    height: 60px;

    &::after {
      content: '';
      width: 25px;
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 17px;
      background-image: url('../images/link_arrow.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__image {
    width: 100%;
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }

  & .slick-dots {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    color: white;
    @extend %rubikmedium-500;

    & button {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fde3cc;
      border: none;
      font-size: 11px;
      cursor: pointer;
    }

    & .slick-active button {
      background-color: #ffffff;
      @extend %rubikmedium-500;
    } 

    & li:not(:last-child) {
      margin-right: 12px;
    } 

    & button {
       transition: box-shadow 0.4s; 
      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px #618294;
      }

      &:hover{
        background-color:white;
      }

      &:active {
        outline: none;
        box-shadow: 0 0 0 3px  #fcd7b6;
      }
    }
  }
}

.button {
  display: block;
  position: relative;
  max-width: 200px;
  color: white;
  @extend %rubikmedium-500;
  font-size: 15px;
  line-height: 1;
}

/*----------------------------------------------------*/
/* Стили блока под слайдером */

.features {
  display: flex;
  justify-content: space-between;
  background-color: #fef7f0;
  margin-bottom: 70px;

  &__item {
    max-width: 600px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3px 20px 0 240px;
    border-left: 1px solid #e8e4df;
    min-height: 170px;

    &::after {
      content: '';
      position: absolute;
      top: 80px;
      left: 177px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgba(163, 187, 200, 0.34);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 48px;
      left: 145px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  
    &--support::before {
      background-image: url('../images/support-img.png');
    }
  
    &--track::before {
      background-image: url('../images/delivery-truck.png');
    }
  
    &--card::before {
      background-image: url('../images/credit-card.png');
    }
  }

  &__subtitle {
    margin-bottom: 5px;
    @extend %dmsansbold-700;
  }

  &__desc {
    max-width: 210px;
    line-height: 2;
    @extend %dmsansregular-400;
  }
}

/*----------------------------------------------------*/
/* Стили блока продуктов недели */

.title {
  text-align: center;
  margin-bottom: 25px;
  color: #000000;
  @extend %dmsansbold-700;
  font-size: 36px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  &__btn {
    @extend %dmsansbold-700;
    font-size: 16px;
    background-color: transparent;
    color: #8b8b8b;
    border: none;
    padding: 0;
    outline: none;
    position: relative;
    
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.products {

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 400px;
  }

  &__item {
    position: relative;
    max-width: 275px;
    width: 100%;
    margin-bottom: 40px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__link {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__body { 
    padding: 25px 10px 35px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__img { 
    display: block;
    text-align: center;
    margin-bottom: 75px;
    object-fit: cover;
  }

  &__name {
    display: block;
    @extend %dmsansmedium-500;
    color: $dark-blue;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 12px;
  }

  &__price {
    display: block;
    @extend %dmsansbold-700;
    color: #a3bbc8;
    font-size: 16px;
    line-height: 1;
  }

  &__controls {
    display: none;
    position: absolute;
    width: 100%;
  }

  &__item:hover &__controls {
    display: flex;
    top: 203px;
    justify-content: center;
  }

  &__button {
    width: 45px;
    height: 45px;
    border: none;
    background-color: white;
    border-radius: 50%;
    padding: 12px;
    z-index: 5;
    
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
  
  .mixitup-control-active {
    color:#000000;
  }
}
